*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    /* font-family: 'poppins'; */
    background-color: #f0f0f0;
}
header{
    padding: 10px;
    display: flex;
    /* justify-content: space-between; */
    height: 80px;
    background: rgb(215, 224, 228);
}
#productList{
    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: center; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid-template-rows: repeat(auto-fill, minmax(350px, 1fr)); */
    gap: 3vh 2vw;
    padding: 2vw;
}
.productCell{
    /* width: 300px; */
    /* height: 350px; */ 

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 10px;
    transition: transform 0.2s;
}
.productCell:hover {
    transform: scale(1.05);
}
.productImage{
    max-width: 150px;
    max-height: 200px;
    margin-bottom: 10px;
}
details summary{
    cursor: pointer;
    margin-bottom: 5px;
}
.productPriceContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px; 
}
button {
    padding: 3px 10px;
    background-color: #f0a500;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #d68a00;
}