@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'poppins';
}
#logo h2{
    /* font-size: 2.5vw; */
    color: #7c5500;
    font-weight: 700;
    font-family: "Philosopher", sans-serif;
    text-transform: uppercase;}
body{
    width: 100%;
}
header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    background: rgb(215, 224, 228);
}
#ham {
    display: none;
    cursor: pointer;
    padding: 2vw;
}

nav ul{
    display: flex;
    gap: 2vw;
    a{ 
        cursor: pointer;
        color: black;
    }
}
nav ul li a:hover{
    /* color: #f0a500; */
    color: #7c5500;
}

