*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'poppins';
}
body{
    width: 100%;
}
header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    background: rgb(215, 224, 228);
}
#ham {
    display: none;
    cursor: pointer;
    padding: 2vw;
}

nav ul{
    display: flex;
    gap: 2vw;
    a{ 
        cursor: pointer;
        color: black;
    }
}
nav ul li a:hover{
    /* color: #f0a500; */
    color: #7c5500;
}

footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 2vw;
}
