*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
#ham {
    display: none;
    cursor: pointer;
}
nav ul{
    display: flex;
    gap: 2vw;
    a{ 
        cursor: pointer;
        color: black;
    }
}
nav ul li a:hover{
    color: #f0a500;
}

footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 2vw;
}
@media screen and (max-width: 768px) {
    nav ul{
        display: none;
    }
        #ham {
            display: flex;
        }
}